.btn {
    width: 100%;
    max-width: 220px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-block;
    transition: background ease-in-out 0.2s, color ease-in-out 0.2s;

    &.primary {
        border: solid 2px #6161A9;
        background: #6161A9;
        color: #fff;

        &:hover {
            background: #fff;
            color: #6161A9;
        }
    }
}
