.repo-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px){
        flex-direction: column;
    }

    &-description {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;

        @media (min-width: 769px){
            padding-right: 60px;
            margin-top: 5px;
        }

        @media (max-width: 768px){
            margin-top: 10px;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 560px){
            flex-direction: column;
        }

        p {
            font-size: 18px;
        }

        a {
            font-size: 16px;
            font-weight: bold;
            color: #6161A9;
            margin-top: 10px;

            // @media (min-width: 561px){
            //     margin-left: 10px;
            // }

            @media (max-width: 560px){
                margin-top: 6px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-main-info {
        display: flex;
        align-items: center;

        @media (max-width: 768px){
            flex-direction: column;
        }

        img {
            max-width: 25px;
            margin-right: 8px;

            @media (min-width: 769px){
                margin-right: 10px;
            }
        }

        &-title {
            display: flex;
            justify-content: space-between;
        }

        .repo-title {
            @media (max-width: 768px){
                margin-top: 8px;
                margin-bottom: 10px;
            }
        }
    }

    &-side-info {
        display: flex;

        @media (min-width: 769px){
            justify-content: space-between;
        }

        @media (max-width: 768px){
            margin-top: 25px;
            margin-bottom: 5px;
            justify-content: center;
        }

        .starred {
            background: #00557b;
            border: solid 2px #00557b;
            border-radius: 5px;
            display: flex;
        }

        .star {
            background: #fff;
            padding: 6px 12px;
            display: flex;
            align-items: center;

            img {
                max-width: 25px;
                margin-right: 5px;
            }

            span {
                font-weight: bold;
                color: #00557b;
            }
        }

        p {
            min-width: 40px;
            background: #00557b;
            font-weight: bold;
            text-align: center;
            color: #fff;
            padding-right: 12px;
            padding-left: 12px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.repo-content {
    border-radius: 5px;
    display: flex;

    @media (min-width: 769px){
        max-height: 520px;
        margin-top: 60px;
    }

    @media (max-width: 768px){
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .file-list,
    .activity-list {
        background: #00557b;
    }

    .file-list {
        border-top: solid 2px #00557b;
        border-bottom: solid 2px #00557b;
        border-left: solid 2px #00557b;
        border-top-left-radius: 5px;
        overflow-y: scroll;

        @media (min-width: 769px){
            flex: 0.5;
        }

        @media (max-width: 768px){
            flex-basis: 100%;
            border-top-left-radius: 5px;
        }

        @media (max-width: 640px){
            border-bottom: solid 2px #fff;
        }

        .list-title {
            position: sticky;
            top: 0;
        }
    }

    .activity-list {
        border-top: solid 2px #00557b;
        border-right: solid 2px #00557b;
        border-bottom: solid 2px #00557b;
        border-top-right-radius: 5px;

        @media (min-width: 769px){
            flex: 1;
        }

        @media (max-width: 768px){
            flex-basis: 100%;
            border-left: solid 2px #00557b;
            border-top-left-radius: 5px;
            margin-top: 20px;
        }
    }
}

.files,
.activity {
    @media (min-width: 641px){
        padding: 15px;
    }

    @media (max-width: 640px){
        padding: 20px;
    }
}

.files {
    @media (max-width: 768px){
        max-height: 420px;
    }

    @media (max-width: 640px){
        display: flex;
        flex-wrap: wrap;
    }

    @media (max-width: 375px){
        justify-content: space-between;
    }

    &-item {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;

        @media (min-width: 420px) and (max-width: 640px){
            flex-basis: 30%;
        }

        @media (min-width: 376px) and (max-width: 419px){
            flex-basis: 45%;
        }

        @media (max-width: 375px){
            flex-basis: 50%;
        }

        p {
            color: #fff;
            margin-left: 15px;
        }
    }
}

.activity {
    margin-top: 5px;

    &-item {
        margin-bottom: 30px;
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            margin-right: 20px;
        }

        &-details {
            h3 {
                color: #fff;
            }

            p {
                color: #fff;
                margin-top: 2px;
                margin-bottom: 5px;

                a {
                    color: #fff;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
