.custom-select {
    min-width: 260px;
    max-width: 500px;
    background: #fff url('/images/select-arrow.svg') no-repeat center;
	background-position-x: 97%;
	border: solid 2px #00557b;
	border-radius: 5px;
	padding: 10px 55px 10px 12px;
	position: relative;
	cursor: pointer;
	z-index: 9;

	p {
		color: #00557b;
		display: inline-block;

		@media (max-width: 375px){
			font-size: 16px;
		}

		@media (max-width: 374px){
			font-size: 15px;
		}

		span {
			font-weight: bold;
		}
	}

	ul {
		width: 100%; // a ul não pega 100% exato do pai, causando uma diferença pequena.
		height: 0;
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		top: 100%;
		right: 0;
		left: -2px;
		opacity: 0;
		visibility: hidden;
		transition: opacity ease-in-out 0.2s, visibility ease-in-out 0.2s, height ease-in-out 0.2s, transform ease-in-out 0.2s;
		transform: translate3d(0, -5%, 0);

		li {
			font-size: 16px;
			line-height: 23px;
			background: #00557b;
			color: #fff;
			padding: 12px 15px;
			transition: background ease-in-out 0.2s;

			&:last-child {
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			&:hover {
				background: #00618d;
			}
		}

		&.show {
			height: auto;
			opacity: 1;
			visibility: visible;
			transform: translate3d(0, 0, 0);
		}
	}
}
